<!DOCTYPE html>

<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />

    <title>invare</title>
  </head>
  <body>
    <%- include('partials/nav');%>
    <div class="content">
      <div class="cp">
        <!-- Slider main container -->
        <div dir="rtl" class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->

            <div class="swiper-slide">
              <img src="/img/slider1.png" alt="slider1" />
            </div>
            <div class="swiper-slide">
              <img src="/img/slider2.png" alt="slider2" />
            </div>
            <div class="swiper-slide">
              <img src="/img/slider3.png" alt="slider3" />
            </div>
            <!-- <div class="swiper-slide">Slide 5</div> -->
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <!-- <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div> -->

          <!-- If we need scrollbar -->
          <!-- <div class="swiper-scrollbar"></div> -->
        </div>
      </div>

      <div class="boxplacement">
        <a href="/filter-M.html">
          <div class="nav-card m-btn box1">
            <div class="card-body">
              <h5 class="box-title">المواد</h5>
              <img class="box-500" src="/img/icons/box-500.svg" alt="box" />
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->

              <!-- <a href="#" class="card-link">Card link</a> -->
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
        </a>
        <a href="/filter-S.html">
          <div class="nav-card m-btn box2">
            <div class="card-body">
              <h5 class="box-title service">الخدمات و الاجهزة</h5>
              <img
                class="guy"
                src="/img/icons/constructor.svg"
                alt="constructor"
              />
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            </div>
          </div>
        </a>
      </div>

      <div class="try">
        <div class="ads">
          <% ads.forEach(function(ad){ %>
            <div class="card" style="width: 18rem">
              <img src="/uploads/<%= ad.images[0]%>" class="card-img-top" alt="..." />
              <a href="/ads/ad-detail-bid" class="">
                <div class="card-body">
                  <div class="id">
                    <div class="progress-field">
                      <p class="this">المشاهدات: 341</p>
                      <div class="progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          style="width: 35%"
                          aria-valuenow="25"
                          aria-valuemin="0"
                          aria-valuemax="30"
                        ></div>
                      </div>
                    </div>
                    <a class="boost" href="#">
                      <div>تقوية</div>
                    </a>
                  </div>
    
                  <div class="title-date">
                    <div>12/31/2022</div>
                    <div>ينتهي بعد: 20 يوم</div>
                  </div>
    
                  <div class="card-title">
                    <h5><%= ad.title%></h5>
                    <h5><%= ad.price%> OMR</h5>
                  </div>
                  <p class="card-text"><%= ad.weight%> <%= ad.weight_type%></p>
                  <% if(ad.type == "auction"){ %>
                    <p class="card-text">أعلان مزاد</p>
                  <% } else if(ad.type == "request"){ %>
                    <p class="card-text">أعلان شراء</p>
                  <% } else if(ad.type == "buy"){ %>
                    <p class="card-text">أعلان بيع</p>
                  <% } else if(ad.type == "gen"){ %>
                    <p class="card-text">أعلان خدمات و اجهزة</p>
                  <% } %>
                </div>
              </a>
            </div>
          <% }); %>
        </div>
      </div>
    </div>

    <script src="/js/index.js"></script>

    <script>
      // const navMenu = document.querySelector(".nav__menu");
      // const modalBtnNotification = document.querySelector(".bell-btn");
      const modalBtnSupport = document.querySelector(".back-btn");

      const modalS = document.querySelector(".modal-support");
      const modalN = document.querySelector(".modal-notification");
      const close1 = document.querySelector(".close1");
      const closeBtn = document.querySelector(".close");

      modalBtnSupport.addEventListener("click", function () {
        modalS.classList.remove("hidden");
        // modalN.classList.add("hidden");
      });

      closeBtn.addEventListener("click", function () {
        modalS.classList.add("hidden");
      });

      // const swiper = document.querySelector(".swiper");
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/slider.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
