<!DOCTYPE html>

<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>إعلاناتي</title>
  </head>
</html>

<body>
  <%- include('partials/nav');%>

  <div class="content">
    <div class="container-1">
      <div class="boxes1">
        <div class="box">
          <h1>عدد إعلاناتي</h1>
          <p>3</p>
        </div>
        <div class="box">
          <h1></h1>
        </div>
      </div>

      <div class="boxes2">
        <div class="box">
          <h1>مجموع مشاهداتي</h1>
          <p>3000</p>
        </div>
        <div class="box">
          <h1>مجموع التقييمات</h1>
          <p>40%</p>
        </div>
      </div>
    </div>

    <div class="ads">
      <% myads.forEach(function(ad){ %>
        <div class="card" style="width: 18rem">
          <img src="/uploads/<%= ad.images[0]%>" class="card-img-top" alt="..." />
          <a href="/ads/ad-detail-bid" class="">
            <div class="card-body">
              <div class="id">
                <div class="progress-field">
                  <p class="this">المشاهدات: 341</p>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 35%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="30"
                    ></div>
                  </div>
                </div>
                <a class="boost" href="#">
                  <div>تقوية</div>
                </a>
              </div>

              <div class="title-date">
                <div>12/31/2022</div>
                <div>ينتهي بعد: 20 يوم</div>
              </div>

              <div class="card-title">
                <h5><%= ad.title%></h5>
                <h5><%= ad.price%> OMR</h5>
              </div>
              <p class="card-text"><%= ad.weight%> <%= ad.weight_type%></p>
              <% if(ad.type == "auction"){ %>
                <p class="card-text">أعلان مزاد</p>
              <% } else if(ad.type == "request"){ %>
                <p class="card-text">أعلان شراء</p>
              <% } else if(ad.type == "buy"){ %>
                <p class="card-text">أعلان بيع</p>
              <% } else if(ad.type == "gen"){ %>
                <p class="card-text">أعلان خدمات و اجهزة</p>
              <% } %>
            </div>
          </a>
        </div>
      <% }); %>
    </div>
  </div>

  <div class="modal-support hidden">
    <div class="header">
      <img
        src="/img/icons/close.svg"
        class="close p-2"
        style="width: 35px"
        alt=""
      />
      <h1 class="flex-grow-1">الدعم الفني</h1>
    </div>

    <div class="socials">
      <a href="https://wa.me/96891919506">
        <img src="/img/icons/whatsapp.svg" style="width: 50px" alt="socials" />
      </a>

      <a href="https://www.facebook.com/107891381518097">
        <img src="/img/icons/facebook.svg" style="width: 50px" alt="socials" />
      </a>

      <a href="https://instagram.com/recycling_in_oman?igshid=MTg0ZDhmNDA=">
        <img src="/img/icons/instagram.svg" style="width: 45px" alt="socials" />
      </a>
    </div>
  </div>

  <script>
    const modalBtnSupport = document.querySelector(".sos-btn");

    const modalS = document.querySelector(".modal-support");

    const closeBtn = document.querySelector(".close");

    modalBtnSupport.addEventListener("click", function () {
      modalS.classList.toggle("hidden");
    });

    // window.addEventListener("scroll", function () {
    //   modalS.classList.add("hidden");
    //   modalN.classList.add("hidden");
    //   // console.log("scrolled");
    // });

    closeBtn.addEventListener("click", function () {
      modalS.classList.add("hidden");
    });

    // window.addEventListener("scroll", function () {
    //   navMenu.classList.toggle("scrolling");
    //   console.log("scrolled");
    // });
  </script>
</body>
